<!-- <div ng-repeat="i in [1,2,3,4,5] track by $index">
<img src="img/star.png" class="likert-star" ng-click="starClicked($index)" ng-show="stars[$index] === false"/>
</div>
</div> -->
<tr>
	<div ng-repeat="i in [0,1,2,3,4] track by $index">
	<th>
		<img src="img/star.png" class="likert-star" ng-click="starClicked($index)" ng-show="!stars[$index]"/>
		<img src="img/star-filled.png" class="likert-star" ng-click="starClicked($index)" ng-show="stars[$index]"/>
	</th>
	</div>
</tr>