<ul class="list">
  <li class="item item-checkbox" ng-repeat="choice in question.typeSpecific.choices">
     <label class="checkbox">
       <input type="checkbox" ng-click="selected(choice)">
     </label>
     {{ choice }}
  </li>
</ul>