<br>
<div class="item range">
  <input type="range" name="selectedNumber" min="{{ question.typeSpecific.min }}" max="{{ question.typeSpecific.max }}" ng-model="$parent.answer">
</div>
<br>
<div align="center">{{ $parent.answer }} </div>