<ion-content scroll="false">

	<div ng-show="question && lastAnsweredQuestionId !== question.id">


	<div class="card">
  <div class="item item-divider">
		<div>{{ question.question }}</div>
  </div>
  <div class="item item-text-wrap">
		<div><type-specific></type-specific></br></div>
  </div>
</div>

	</div>



	<div ng-show="!question || lastAnsweredQuestionId === question.id">
	<div class="no-question">
		<div class="text">Currently no active question! </div></br>
		<img src="img/loader.gif"/>
	</div>
	</div>
</ion-content>
 <button class="button button-block button-positive submit-button" ng-click="submit()" ng-show="question.type !== 'yes-no' && question && lastAnsweredQuestionId !== question.id">Submit</button>