<div class="list">

  <label class="item item-radio" ng-repeat="choice in question.typeSpecific.choices">
    <input type="radio" name="group" ng-click="selectedQuiz(choice)">
    <div class="item-content">
      {{ choice }}
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>

</div>