<numerical ng-show="question.type === 'numerical'"></numerical>
<yes-no ng-show="question.type === 'yes-no'"></yes-no>
<likert ng-show="question.type === 'likert'"></likert>
<quiz ng-show="question.type === 'quiz'"></quiz>
<mc ng-show="question.type === 'mc'"></mc>