<div class="row yes-no">
<div class="col col-50">
<button class="button button-block button-assertive" ng-click="yesNoSubmit('No')">
  No
</button>
</div>
<div class="col col-50">
<button class="button button-block button-balanced" ng-click="yesNoSubmit('Yes')">
  Yes
</button>
</div>
</div>