/* Empty. Add your own CSS if you like */
.submit-button {
	position: absolute;
	bottom: 0;
	margin-bottom: 0;
}

.yes-no {
	position: relative;
	margin-top: 30px;
}

.no-question {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.no-question .text {
    margin-bottom: 30px
}

.likert-star {
    width: 50px;
    height: 50px;
    float: left;
    margin-bottom: 16px
}